@{
    ViewData["Title"] = "cydia.kemmis.info";
}
<div class="container">
    <h1>cydia.kemmis.info</h1>
</div>

<div class="container">
    <div class="well">
        <a class="btn btn-sm btn-default" href="cydia://url/https://cydia.saurik.com/api/share#?source=http://cydia.kemmis.info/">Add to Cydia</a>
    </div>
</div>
